@import url(./fonts.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

/* HEADER START */
.header {
  padding-top: 3.6rem;
  padding-bottom: 41px;
  background-color: #f6ebda;
}

.header-container {
  max-width: 1161px;
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo-img {
  max-width: 150px;
  height: 30px;
}

.header-col {
  display: flex;
  gap: 32px;
}

.header-list {
  list-style: none;
}

.header-link {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5em;
  text-decoration: none;
  color: #000000;
}

.header-link:hover {
  color: #ff902b;
  transition: 0.3s;
}

.header-input-wrapper {
  align-items: center;
  display: flex;
  gap: 24px;
}

.header-input {
  padding-top: 1.1rem;
  padding-bottom: 1.1rem;
  padding-left: 1.6rem;
  border-radius: 3.5rem;
  border: 1px solid #ffffff;
  color: #929292;
}

.header-input::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5em;
  color: #929292;
}

.header-search {
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: none;
}
/* HEADER END */

/* ACTIVITY START */
.activity {
  padding-top: 41px;
  padding-bottom: 42px;
  background-color: #f6ebda;
}

.activity-container {
  max-width: 1161px;
}

.activity-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.activity-col1 {
}

.activity-title {
  font-family: "Poppins";
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 1.5em;
  color: #000000;
  max-width: 489px;
  margin-bottom: 2.4rem;
}

.cofee-color {
  color: #ff902b;
}

.activity-text {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5em;
  color: #7e7d7a;
  max-width: 393px;
  margin-bottom: 3.2rem;
}

.activity-span {
  display: flex;
  align-items: center;
  gap: 2.6rem;
}

.activity-button {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.5em;
  text-align: center;
  color: #ffffff;
  background-color: #2f2105;
  padding: 12.5px 32px 12.5px 32px;
  border-radius: 33px;
  cursor: pointer;
}

.activity-link {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.5em;
  text-align: center;
  color: #f4ae26;
  text-decoration: none;
}

.activity-col2 {
}

.activity-smol-text {
  font-family: "Poppins";
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.5em;
  text-align: center;
  background-color: #ffffff;
  border-radius: 42px;
  max-width: 271px;
  padding-top: 14px;
  padding-bottom: 13px;
}

.activity-cofee-img {
  border: 2px solid #2f2105;
  border-radius: 100%;
}

.activity-prosmotr {
  font-family: "Poppins", sans-serif;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.5em;
  text-align: center;
  color: #000000;
}

.activity-icon {
  font-family: "Poppins", sans-serif;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.5em;
  text-align: center;
  color: #000000;
}
/* ACTIVITY END */
